@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@200&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300&display=swap");

* {
  margin: 0;
  padding: 0;
}

.learn {
  font-family: "Josefin Sans", sans-serif;
  font-size: 36px;
  width: 300px;
  height: 51px;
  position: relative;
  left: 128px;
  top: 100px;
}

.sign {
  display: flex;
  align-items: center;
}

.sign button {
  width: 234px;
  height: 62px;
  background: #4756df;
  box-shadow: 0px 4px 45px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  position: absolute;
  left: 950px;
  top: 94px;
  font-family: "Josefin Sans", sans-serif;
  font-size: 30px;
}

.home {
  font-family: Josefin Sans;
  font-style: normal;
  font-weight: 600;
  font-size: 36px;
}

.home {
  width: 523px;
  position: absolute;
  height: 175px;
  left: 128px;
  top: 314px;
}

.covid {
  font-family: "IBM Plex Sans", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 26px;
}

.covid {
  width: 441px;
  height: 101px;
  position: relative;
  left: 133px;
  top: 495px;
}

.me {
  display: flex;
  align-items: center;
  position: absolute;
}

.me button {
  background: rgba(71, 86, 223, 0.95);
  box-shadow: 0px 4px 45px rgba(0, 0, 0, 0.25);
  border-radius: 9px;
  width: 199px;
  height: 56px;
  position: relative;
  left: 133px;
  top: 521px;
  font-family: "Josefin Sans", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 23px;
  line-height: 23px;
}

.more {
  display: flex;
  align-items: center;
  position: absolute;
}

.more button {
  border: 2px solid #959090;
  box-sizing: border-box;
  border-radius: 9px;
  font-family: "Josefin Sans", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 23px;
  line-height: 23px;
  width: 199px;
  height: 53px;
  position: relative;
  left: 384px;
  top: 523px;
}

.dell {
  height: 427.9940185546875px;
  width: 535.5076293945312px;
  position: relative;
  left: 785px;
  top: 324px;
  border-radius: 0px;
}

.dell img {
  position: relative;
  bottom: 200px;
  right: 40px;
}

.here {
  font-family: "Josefin Sans", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 40px;
  width: 532px;
  height: 37px;
  position: relative;
  left: 454px;
  top: 190px;
  bottom: 700px;
}

.her {
  background: #f9f9f9;
  box-shadow: 0px 4px 21px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  width: 329px;
  height: 372px;
  position: relative;
  left: 204px;
  top: 300px;
}

.her h2 {
  text-align: center;
  font-family: "Josefin Sans", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  line-height: 32px;
  color: black;
}

.her p {
  text-align: center;
  font-family: "IBM Plex Sans", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 21px;
}

.her h3 {
  text-align: center;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #000000;
}

.him {
  background: #f9f9f9;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  width: 329px;
  height: 372px;
  position: relative;
  left: 569px;
  bottom: 70px;
}

.him h2 {
  text-align: center;
  font-family: "Josefin Sans", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  line-height: 32px;
  color: black;
}

.him p {
  text-align: center;
  font-family: "IBM Plex Sans", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 21px;
}

.him h3 {
  text-align: center;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #000000;
}

.them {
  background: #f9f9f9;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  width: 329px;
  height: 372px;
  position: absolute;
  left: 934px;
  top: 918px;
}

.them h2 {
  text-align: center;
  font-family: "Josefin Sans", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  line-height: 32px;
  color: black;
}

.them p {
  text-align: center;
  font-family: "IBM Plex Sans", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 21px;
}

.them h3 {
  text-align: center;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #000000;
}
